@import 'breakpoints';

.nav {
	$parent: &;

	font-family: var(--base-font);

	a {
		&,
		&:hover,
		&:focus {
			text-decoration: none;
		}
	}
}

nav {
	ul,
	li {
		padding: 0;
		margin: 0;
		list-style: none;
	}
}
